@import './reset';
@import './login';
@import url("https://use.fontawesome.com/releases/v5.0.9/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

$white: #ffffff;
$gray: #ededed;
$dark-blue: #546a76;
$light-blue: #c6dbf0;
$pink: #ff5465;
$purple: rgba(133, 77, 255, 1);

h1, h2, h3, h4{
	font-family: 'Montserrat', sans-serif;
}

.tooltip{
	display: none;
	position: absolute;
}

header{
	width: 100%;
	height: 7vh;
	position: fixed;
	top: 0;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: space-between;	
	background-color: white;
	.logo{
		display: flex;
		align-items: center;
		margin-left: 15%;
		cursor: pointer;
		h1{
			font-size: 28px;
			color: $pink;
			font-weight: bold;
		}
		.logo-container{
			margin-left: 20px;
			width: 30px;
			height: 30px;
		}
	}
	nav{
		display: flex;
		align-items: center;
		.hamburger{
			visibility: hidden;
		}
		.login-button{
			color: $purple;
			display: flex;
			align-items: center;
			i{
				font-size: 18px;
				margin-right: 7px;
			}
		}
		.login-button:hover{
			color: $purple;
		}
		ul{
			display: flex;
			align-items: center;
			margin-right: 40px;
			li{
				padding: 7px 15px;
			}
			li:hover{
				transition: all .8s;
				color: gray;
			}
			.nav-more{
				position: relative;
			}
			.dropdown{
				visibility: hidden;
				position: absolute;
				top: 110%;
				left: -150%;
				z-index: 10;
				background-color: black;
				border-radius: 5px;
				display: flex;
				flex-direction: column;
				font-size: 12px;
				width: 150px;
  			box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
				align-items: flex-start;
				li{
					padding: 10px 0;
					color: $white;
					width: 100%;
					border-bottom: 1px solid black;
					text-indent: 20px;
					border-radius: 5px;
					overflow: hidden;
				}
				li:hover{
					border-bottom: 1px solid $white;
					transition: all .8s;
				}
			}
			.dropdown:after, .dropdown:before{
          position: absolute;
					content: " ";
					top: -20px;
          left: 85%;
          border: 2px solid transparent;
          height: 0;
          width: 0;
          pointer-events: none;
			}
			.dropdown:after {
        border-bottom-color: black;
        border-width: 10px;
        margin-left: -10px;
      }
      .dropdown:before {
        border-bottom-color: black;
        border-width: 10px;
        margin-left: -10px;
      }
			.nav-more:hover .dropdown{
				visibility: inherit;
			}
		}
	}
}

.home-nav-dot{
	position: fixed;
	z-index: 5;
	right: 0;
	top: 50%;
	height: 150px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	color: white;
	a{
		cursor: pointer;
		padding: 3px;
		i{
			font-size: 10px;
			cursor: pointer;
		}
	}
	.bold{
		i{
			font-weight: bold;
		}
	}
}

.black{
	color: black;
}

.login-session{
	margin-top: 7vh;
	width: 100%;
	position: relative;
	height: 93vh;
	.login-background{
		height: 100%;
		width: 100%;
		position: absolute;
		background-color: $dark-blue;
		z-index: -1;
		top: 0;
		left: 0;
		background-image: url('../images/main_background_3.jpeg');
		background-size: cover;
	}
	.login{
		margin: 0 auto;
		height: 100%;
		width: 571px;
		z-index: 3;
		position: relative;
	}
	.login-window{
		position: absolute;
		bottom: -20px;
		height: 508px;
		background-color: white;
		text-align: center;
		box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
		// display: flex;
		// flex-direction: column;
		// align-items: center;
		// justify-content: space-around;
		h2{
			color: $dark-blue;
			letter-spacing: 5px;
			font-size: 42px;
			width: 70%;
			margin: 40px auto;
			font-weight: 900;
			text-align: center;
		}
		form{
			width: 70%;
			margin: 30px auto;
			.signup-session{
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 15px;
				.email{
					width: 60%;
				}
				.zipcode{
					width: 35%;
				}
				div{
					position: relative;
					.tooltip{
						display: none;
						position: absolute;
						font-size: 12px;
						top: -25px;
						left: 10%;
						background: rgba(0,0,0,0.4);
						padding: 3px 5px;
						border-radius: 5px;
						color: white;
					}
					
				}
				input{
					padding: 7px 0;
					text-indent: 20px;
					border: 1px solid lightgray;
					text-align: left;
					width: 100%;
				}
			}
			input[type='submit']{
				color: $white;
				width: 100%;
				padding-top: 7px;
				padding-bottom: 7px;
				background-color: $pink;
			}
			input[type='submit']:hover{
				background-color: $purple;
				transition: all .8s;
			}
		}
		span:first-of-type{
			color: $dark-blue;
		}
		span:last-of-type{
			margin-top: 40px;
			color: gray;
		}
		.social-login{
			width: 70%;
			margin: 40px auto;
			display: flex;
			align-items:center;
			justify-content: space-between;
			button{
				font-size: 12px;
				width: 45%;
				color: $white;
				padding-top: 10px;
				padding-bottom: 10px;
				border-radius: 5px;
			}
			button:hover{
				background-color: rgba(58, 181, 205, 1);
				transition: all .8s;
			}
			.facebook{
				background-color: rgba(24, 51, 158, 1);
				border: solid rgba(58, 181, 205, 1) 0px;
			}
			.instagram{
				background-color: rgba(252, 123, 68, 1);

			}
		}
	}
}

.work{
	width: 40%;
	min-width: 650px;
	margin: 50px auto;
	text-align: center;
	h2{
		font-size: 42px;
		font-weight: 900;
		margin: 50px auto;
	}
	.work-detail{
		width: 100%;
		.work-detail-item{
			display: flex;
			width: 100%;
			margin: 30px 0;
			.img-container{
				flex: 1;
  			box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
				cursor: pointer;
				img{
					height: 100%;
					object-fit: cover;
				}
			}
			.img-container:hover{
				opacity: 0.5;
				transition: all .8s;
			}
			.work-detail-item-content{
				width: 40%;
				padding-left: 20px;
				padding-right: 20px;
				text-align: left;
				h3{
					font-size: 36px;
					margin-top: 0;
				}
				span{
					line-height: 1.5;
					transition: all .5s;
				}
			}
		}
	}
}

.business{
	background-color: $pink;
	width: 100%;
	color: $white;
	padding: 50px 0 30px 0;
	.session-1{
		min-width: 650px;
		text-align: center;
		width: 40%;
		margin: 40px auto;
		hr{
			border: 0;
			width: 50px;
			border-bottom: 1px solid $white;
		}
		h4{
			font-weight: normal;
		}
		h3{
			font-size: 42px;
			font-weight: bold;
			width: 80%;
			margin: 40px auto;
			line-height: 1.5;
		}
	}
	.nav-dot{
		margin: 20px auto;
		text-align: center;
		i{
			font-size: 10px;
			cursor: pointer;
		}
	}
}

footer{
	width: 100%;
	.footer-category{
		min-width: 650px;
	}
	ul{
		width: 40%;
		margin: 50px auto;
		display: flex;
		align-items: flex-start;
		flex-direction: row;
		justify-content: space-around;
		li{
			color: $pink;
			font-weight: bold;
			cursor: pointer;
			ul{
				margin: 15px auto;
				width: 100%;
				display: flex;
				flex-direction: column;
				li{
					width: 100%;
					color: #333;
					font-weight: normal;
					margin: 15px 0;
				}
				li:hover{
					color: $dark-blue;
					text-decoration: underline;
					transition: all .8s;
				}
			}
		}
	}
	.copyright{
		min-width: 400px;
		font-size: 10px;
		color: gray;
		width: 40%;
		margin: 10px auto;
		text-align: center;
	}
}

.modal{
	display: none;
}

.is-open{
	display: block;
}

@media only screen and (min-device-width: 480px) and (max-width: 768px) {
	header{
		.logo{
			margin-left: 15px;
		}
		nav{
			.hamburger{
				visibility: inherit;
				color: gray;
				position: relative;
				margin: 0 30px;
			}
			.hamburger:hover{
				color: $purple;
				transition: all .8s;
			}
			.hamburger:hover ~ ul{
				display: block;
				transition: all .8s;
			}
			ul:hover{
				display: block;
				transition: all .8s;
			}
			ul{
				display: none;
				width: 150px;
				position: absolute;
				background-color: white;
				padding: 0;
  			box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
				border-radius: 5px;
				overflow: hidden;
				top: 65%;
				right: -20px;
				li{
					margin: 15px 0;
				}
				.nav-more{
					.dropdown{
						display: none;
						position: static;
						background-color: white;
						box-shadow: none;
						li{
							border: none;
							color: #333;
							text-indent: 7px;
						}
						li:hover{
							color: $dark-blue;
							text-decoration: underline;
							transition: all .8s;
  						// box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
						}
					}
					.dropdown:after, .dropdown:before{
						content: "";
						border: 0px;
					}
				}
				.nav-more:hover .dropdown{
					display: block;
					transition: all .8s;
				}
			}
		}
	}
}

@media only screen and (max-device-width : 480px) {
	header{
		.logo{
			margin-left: 15px;
		}
		nav{
			.hamburger{
				visibility: inherit;
				color: gray;
				position: relative;
				margin: 0 30px;
			}
			.hamburger:hover{
				color: $purple;
				transition: all .8s;
			}
			.hamburger:hover ~ ul{
				display: block;
				transition: all .8s;
			}
			ul:hover{
				display: block;
				transition: all .8s;
			}
			ul{
				display: none;
				width: 150px;
				position: absolute;
				background-color: white;
				padding: 0;
  			box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
				border-radius: 5px;
				overflow: hidden;
				top: 65%;
				right: -20px;
				li{
					margin: 15px 0;
				}
				.nav-more{
					.dropdown{
						display: none;
						position: static;
						background-color: white;
						box-shadow: none;
						li{
							border: none;
							color: #333;
							text-indent: 7px;
						}
						li:hover{
							color: $dark-blue;
							text-decoration: underline;
							transition: all .8s;
  						// box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
						}
					}
					.dropdown:after, .dropdown:before{
						content: "";
						border: 0px;
					}
				}
				.nav-more:hover .dropdown{
					display: block;
					transition: all .8s;
				}
			}
		}
	}
	.home-nav-dot{
		top: 30%;
	}
	.login-session{
		height: 860px;
	}
}