$purple: rgba(133, 77, 255, 1);


.login-page{
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 15;
	height: 100vh;
	width: 100vw;
	transition: all 1s;
	.header{
		width: 90%;
		padding: 50px 0;
		font-size: 56px;
		text-align: right;
		span{
			cursor: pointer;
		}
		span:hover{
			color: gray;
			transition: all .8s;
		}
	}
	.login-window{
		width: 800px;
		margin: auto;
		height: 380px;
		text-align: center;
		display: flex;
		flex-direction: column;
		h1{
			font-size: 48px;
			margin-bottom: 50px;
			font-weight: bold;
		}
		.session-form{
			flex: 1;
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 100%;
			form{
				flex: 1;
				display: flex;
				flex-direction: column;
				align-items: center;
				border-right: 1px solid lightgray;
				height: 100%;
				justify-content: space-around;
				.options{
					display: flex;
					width: 90%;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					.checkbox{
						padding-left: 25px;
						display: flex;
						align-items: center;
						text-align: center;
						justify-content: flex-start;
						position: relative;
						cursor: pointer;
						-webkit-user-select: none;
					  -moz-user-select: none;
					  -ms-user-select: none;
					  user-select: none;
						input{
							position: absolute;
							opacity: 0;
							cursor: pointer;							
						}
						.checkmark{
							position: absolute;
						  top: 0;
						  left: 0;
						  height: 14px;
						  width: 14px;
						  background-color: transparent;
						  border: 1px solid gray;
						}
						input:checked ~ .checkmark {
							// can define different style after check
						}
						.checkmark:after{
							content: '';
							position: absolute;
							display: none;
							left: 3px;
						  top: 0px;
						  width: 5px;
						  height: 10px;
						  border: solid black;
						  border-width: 0 3px 3px 0;
						  -webkit-transform: rotate(45deg);
						  -ms-transform: rotate(45deg);
						  transform: rotate(45deg);
						}
						input:checked ~ .checkmark:after{
							display: block;
						}
					}
					.checkbox:hover ~ .checkmark{
						background-color: #ccc;
					}
				}
				div{
					display: flex;
					flex-direction: column;
					width: 100%;
					align-items: center;
					span{
						font-size: 14px;
					}
					input[type='submit']{
						text-align: center;
						margin-bottom: 10px;
						border-radius: 20px;
						background-color: $purple;
						font-weight: bold;
						color: white;
						border: 1px solid $purple;
		  			box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
					}
					input[type='submit']:hover{
						background-color: white;
		  			border: 1px solid transparent;
		  			color: $purple;
		  			transition: all .8s;
					}
					strong{
						font-weight: bold;
					}
				}
				input{
					width: 90%;
					border: 1px solid lightgray;
					padding: 10px 0;
					text-align: left;
					text-indent: 15px;
				}
			}
			.social-login-session{
				flex: 1;
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				padding-top: 30px;
			}
		}
	}
}