$purple: rgba(133, 77, 255, 1);


.login-page{
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 15;
	height: 100vh;
	width: 100vw;
	transition: all 1s;
	.header{
		width: 90%;
		padding: 50px 0;
		font-size: 56px;
		text-align: right;
		span{
			cursor: pointer;
		}
		span:hover{
			color: gray;
			transition: all .8s;
		}
	}
	.login-window{
		width: 800px;
		margin: 10% auto;
		height: 40%;
		text-align: center;
		display: flex;
		flex-direction: column;
		h1{
			font-size: 48px;
			margin-bottom: 50px;
			font-weight: bold;
		}
		.session-form{
			flex: 1;
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 100%;
			form{
				flex: 1;
				display: flex;
				flex-direction: column;
				align-items: center;
				border-right: 1px solid lightgray;
				height: 100%;
				justify-content: space-around;
				.options{
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					.checkbox, a{
						flex: 1;
					}
				}
				div{
					display: flex;
					flex-direction: column;
					width: 100%;
					align-items: center;
					span{
						font-size: 14px;
					}
					input[type='submit']{
						text-align: center;
						margin-bottom: 10px;
						border-radius: 20px;
						background-color: $purple;
						font-weight: bold;
						color: white;
						border: 1px solid $purple;
		  			box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
					}
					input[type='submit']:hover{
						background-color: white;
		  			border: 1px solid transparent;
		  			color: $purple;
		  			transition: all .8s;
					}
					strong{
						font-weight: bold;
					}
				}
				input{
					width: 90%;
					border: 1px solid lightgray;
					padding: 10px 0;
					text-align: left;
					text-indent: 15px;
				}
			}
			.social-login-page{
				flex: 1;
			}
		}
	}
}