/* PHASE 0: Reset */
@import url("https://use.fontawesome.com/releases/v5.0.9/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html, body, header, nav, h1, a,
ul, ol, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: sans-serif;
}

a {
  cursor: pointer;
}

h1, h2, h3, h4 {
  font-family: Monserrat;
}

ul, ol {
  list-style: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: lightgray;
}

label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type=password],
input[type=email],
input[type=text] {
  padding: 5px 10px;
}

input[type=password],
input[type=email],
input[type=text],
input[type=submit],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type=submit] {
  cursor: pointer;
}

/* Clearfix */
.group::after {
  content: "";
  display: block;
  clear: both;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
}

header {
  width: 100%;
  height: 7vh;
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
header .logo {
  display: flex;
  align-items: center;
  margin-left: 15%;
  cursor: pointer;
}
header .logo h1 {
  font-size: 28px;
  color: #ff5465;
  font-weight: bold;
}
header .logo .logo-container {
  margin-left: 20px;
  width: 30px;
  height: 30px;
}
header nav {
  display: flex;
  align-items: center;
}
header nav .hamburger {
  visibility: hidden;
}
header nav .login-button {
  color: #854dff;
  display: flex;
  align-items: center;
}
header nav .login-button i {
  font-size: 18px;
  margin-right: 7px;
}
header nav .login-button:hover {
  color: #854dff;
}
header nav ul {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
header nav ul li {
  padding: 7px 15px;
}
header nav ul li:hover {
  transition: all 0.8s;
  color: gray;
}
header nav ul .nav-more {
  position: relative;
}
header nav ul .dropdown {
  visibility: hidden;
  position: absolute;
  top: 110%;
  left: -150%;
  z-index: 10;
  background-color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  width: 150px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  align-items: flex-start;
}
header nav ul .dropdown li {
  padding: 10px 0;
  color: #ffffff;
  width: 100%;
  border-bottom: 1px solid black;
  text-indent: 20px;
  border-radius: 5px;
  overflow: hidden;
}
header nav ul .dropdown li:hover {
  border-bottom: 1px solid #ffffff;
  transition: all 0.8s;
}
header nav ul .dropdown:after, header nav ul .dropdown:before {
  position: absolute;
  content: " ";
  top: -20px;
  left: 85%;
  border: 2px solid transparent;
  height: 0;
  width: 0;
  pointer-events: none;
}
header nav ul .dropdown:after {
  border-bottom-color: black;
  border-width: 10px;
  margin-left: -10px;
}
header nav ul .dropdown:before {
  border-bottom-color: black;
  border-width: 10px;
  margin-left: -10px;
}
header nav ul .nav-more:hover .dropdown {
  visibility: inherit;
}

.home-nav-dot {
  position: fixed;
  z-index: 5;
  right: 0;
  top: 50%;
  height: 150px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: white;
}
.home-nav-dot a {
  cursor: pointer;
  padding: 3px;
}
.home-nav-dot a i {
  font-size: 10px;
  cursor: pointer;
}
.home-nav-dot .bold i {
  font-weight: bold;
}

.black {
  color: black;
}

.login-session {
  margin-top: 7vh;
  width: 100%;
  position: relative;
  height: 93vh;
}
.login-session .login-background {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #546a76;
  z-index: -1;
  top: 0;
  left: 0;
}
.login-session .login {
  margin: 0 auto;
  height: 100%;
  width: 571px;
  z-index: 3;
  position: relative;
}
.login-session .login-window {
  position: absolute;
  bottom: -20px;
  height: 508px;
  background-color: white;
  text-align: center;
}
.login-session .login-window h2 {
  color: #546a76;
  letter-spacing: 5px;
  font-size: 42px;
  width: 70%;
  margin: 40px auto;
  font-weight: 900;
  text-align: center;
}
.login-session .login-window form {
  width: 70%;
  margin: 30px auto;
}
.login-session .login-window form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.login-session .login-window form div input {
  padding: 7px 15px;
  border: 1px solid lightgray;
  text-align: left;
}
.login-session .login-window form div input:first-of-type {
  width: 55%;
}
.login-session .login-window form div input:last-of-type {
  width: 25%;
}
.login-session .login-window form input[type=submit] {
  color: #ffffff;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #ff5465;
}
.login-session .login-window form input[type=submit]:hover {
  background-color: #854dff;
  transition: all 0.8s;
}
.login-session .login-window span:first-of-type {
  color: #546a76;
}
.login-session .login-window span:last-of-type {
  margin-top: 40px;
  color: gray;
}
.login-session .login-window .social-login {
  width: 70%;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-session .login-window .social-login button {
  font-size: 12px;
  width: 45%;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.login-session .login-window .social-login button:hover {
  background-color: #3ab5cd;
  transition: all 0.8s;
}
.login-session .login-window .social-login .facebook {
  background-color: #18339e;
  border: solid #3ab5cd 0px;
}
.login-session .login-window .social-login .instagram {
  background-color: #fc7b44;
}

.work {
  width: 40%;
  min-width: 650px;
  margin: 50px auto;
  text-align: center;
}
.work h2 {
  font-size: 42px;
  font-weight: 900;
  margin: 50px auto;
}
.work .work-detail {
  width: 100%;
}
.work .work-detail .work-detail-item {
  display: flex;
  width: 100%;
  margin: 30px 0;
}
.work .work-detail .work-detail-item .img-container {
  flex: 1;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.work .work-detail .work-detail-item .img-container img {
  height: 100%;
  object-fit: cover;
}
.work .work-detail .work-detail-item .img-container:hover {
  opacity: 0.5;
  transition: all 0.8s;
}
.work .work-detail .work-detail-item .work-detail-item-content {
  width: 40%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}
.work .work-detail .work-detail-item .work-detail-item-content h3 {
  font-size: 36px;
  margin-top: 0;
}
.work .work-detail .work-detail-item .work-detail-item-content span {
  line-height: 1.5;
  transition: all 0.5s;
}

.business {
  background-color: #ff5465;
  width: 100%;
  color: #ffffff;
  padding: 50px 0 30px 0;
}
.business .session-1 {
  min-width: 650px;
  text-align: center;
  width: 40%;
  margin: 40px auto;
}
.business .session-1 hr {
  border: 0;
  width: 50px;
  border-bottom: 1px solid #ffffff;
}
.business .session-1 h4 {
  font-weight: normal;
}
.business .session-1 h3 {
  font-size: 42px;
  font-weight: bold;
  width: 80%;
  margin: 40px auto;
  line-height: 1.5;
}
.business .nav-dot {
  margin: 20px auto;
  text-align: center;
}
.business .nav-dot i {
  font-size: 10px;
  cursor: pointer;
}

footer {
  width: 100%;
}
footer .footer-category {
  min-width: 650px;
}
footer ul {
  width: 40%;
  margin: 50px auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
}
footer ul li {
  color: #ff5465;
  font-weight: bold;
  cursor: pointer;
}
footer ul li ul {
  margin: 15px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
footer ul li ul li {
  width: 100%;
  color: #333;
  font-weight: normal;
  margin: 15px 0;
}
footer ul li ul li:hover {
  color: #546a76;
  text-decoration: underline;
  transition: all 0.8s;
}
footer .copyright {
  font-size: 12px;
  color: gray;
  width: 40%;
  margin: 10px auto;
  text-align: center;
}

@media (max-width: 800px) {
  header .logo {
    margin-left: 15px;
  }
  header nav .hamburger {
    visibility: inherit;
    color: gray;
    position: relative;
    margin: 0 30px;
  }
  header nav .hamburger:hover {
    color: #854dff;
    transition: all 0.8s;
  }
  header nav .hamburger:hover ~ ul {
    display: block;
    transition: all 0.8s;
  }
  header nav ul:hover {
    display: block;
    transition: all 0.8s;
  }
  header nav ul {
    display: none;
    width: 150px;
    position: absolute;
    background-color: white;
    padding: 0;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    top: 65%;
    right: -20px;
  }
  header nav ul li {
    margin: 15px 0;
  }
  header nav ul .nav-more .dropdown {
    display: none;
    position: static;
    background-color: white;
    box-shadow: none;
  }
  header nav ul .nav-more .dropdown li {
    border: none;
    color: #333;
    text-indent: 7px;
  }
  header nav ul .nav-more .dropdown li:hover {
    color: #546a76;
    text-decoration: underline;
    transition: all 0.8s;
  }
  header nav ul .nav-more .dropdown:after, header nav ul .nav-more .dropdown:before {
    content: "";
    border: 0px;
  }
  header nav ul .nav-more:hover .dropdown {
    display: block;
    transition: all 0.8s;
  }
}

/*# sourceMappingURL=style.css.map */
